.mobile-only {
    display: block;
}

#main-title {
    display: none;
}

#navbar #phone-icon {
    display: none;
}

#navbar #main-title-mobile {
    padding-right: 5rem;
}

#collections-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.buttons-container .btn {
    margin-right: 0;
    margin-bottom: 2.1rem;

}
#video {
    display: none;
}
#video-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.25rem;
    font-size: 2rem;
}


.play {
    display: none;
}

#video-text {
    padding: 2.0625rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#video-text .btn {
    text-align: center;
}

.fields {
    grid-template-areas:
        'name'
        'email'
        'phone'
        'message';
}


footer span {
    margin: 1.5rem 0;
}

#social-media i {
    margin-bottom: 1rem;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}


#our-collections {
    display: none;
}

#contactus {
    display: none;
}
